/* font here */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body{
    font-family: "Lexend", sans-serif;
}

.cardPrice{
    background-color: red;
    padding: 10px;
}

#header-section.scrolled{
    /* position: fixed; */
    background-color: #ddd;
    transition: all 0.4s ease-in-out;
}

